.APP {
  text-align: center;
}
.game-board {
  background-color: #0808aa;
  width: 80vw;
  height: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1vw
}

.tile {
  background-color: blue;
  height: 24vw;
  width: 24vw;
  margin: auto;
}

.players-info {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  width: 25vw;
  height: 5vw;
  margin: 1vw
}